* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: black;
  color: #fff;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 32px;
  color: #fff;
  margin-top: 25px;
}

h3 {
  font-size: 21px;
  color: #fff;
  margin-top: 15px;
}

.upg_container {
  position: fixed;
  top: 0;
  left: 300px;
  width: calc(100% - 300px);
  height: 90px;
  background: #191622;
  padding: 20px;
}

#upgrade {
  width: 300px;
  border-radius: 50px;
  border: 1px solid #fff;
  text-align: center;
  margin-left: calc(100% - 300px);
}

#upgrade a {
  line-height: 45px;
  display: block;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
}

#upgrade:hover {
  background: #fff;
  cursor: pointer;
}

#upgrade:hover a {
  color: #191622;
}

#left_nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: calc(100vh - 90px);
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

#left_nav_top {
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 250px;
}

#logo {
  width: 100%;
  padding: 20px 25px;
}

#logo img {
  width: 160px;
}

#left_menu {
  list-style: none;
  padding: 5px 30px;
}

#left_menu li {
  margin-bottom: 8px;
}

#left_menu li img {
  height: 30px;
  margin-right: 15px;
  vertical-align: middle;
  opacity: 0.5;
}

#left_menu li a {
  text-decoration: none;
  color: rgba(255,255,255,0.5);
  vertical-align: middle;
  font-size: 17px;
  font-weight: 600;
}

#left_menu li:hover a {
  color: #fff;
}

#left_menu li:hover img {
  opacity: 1;
}

#home a {
  color: #fff;
}

#home img {
  opacity: 1;
}

#left_nav_middle {
  background: #000;
  width: 300px;
  height: 100%;
  margin-top: 250px;
  margin-bottom: 90px;
  overflow-y: scroll;
  padding: 25px;
  color: #fff;
}

#top_nav {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#top_nav ul {
  list-style: none;
}

#top_nav ul li {
  display: inline;
  margin-right: 40px;
}

#top_nav ul li a {
  color: rgba(255,255,255,0.5);
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
}

#top_nav ul li:hover a {
  color: #fff;
}

.song_container {
  padding: 0 30px;
}

.song_container p {
  font-size: 18px;
  color: rgba(255,255,255,0.5);
  margin-top: 12px;
}

.song_row {
  display: flex;
  flex-wrap: wrap;
}

.pld {
  text-align: center;
  width: calc((100% - 100px) / 6);
  margin: 30px 20px 30px 0;
}

.pld_round {
  border-radius: 100%;
  width: 100%;
  overflow: hidden;
}

.pld:last-child {
  margin: 30px 0 30px 0;
}

.pld img {
  width: 100%;
}

#bottom_nav {
  background: #000;
  position: fixed;
  left: 0;
  bottom: 90px;
  width: 300px;
  padding: 15px;
}

.bn_install {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  padding: 10px 0;
  color: rgba(255,255,255,0.5);
  border-bottom: 1px solid rgba(255,255,255,0.5);
}

.bn_install i {
  font-size: 13px;
  margin-right: 8px;
}

.bn_profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 15px;
  padding-top: 10px;
}

.bn_pr_photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;
}

.bn_pr_photo img {
  width: 100%;
}

.profile_screen {
  width: calc(100% - 300px);
  height: 100%;
  background: #242630;
  margin-left: 300px;
  margin-top: 90px;
  margin-bottom: 90px;
}

footer {
  /* visibility: hidden; */
  position: fixed;
  height: 90px;
  width: 100%;
  background: #181818;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.ft_left,
.ft_right {
  width: 300px;
  padding: 15px;
  height: 90px;
}

.ft_left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu_artist {
  list-style: none;
  display: flex;
  align-items: center;
}

.menu_artist > li {
  display: inline-block;
}

.menu_artist > li a img {
  width: 50px;
  margin-right: 10px;
}

.artist_track {
  list-style: none;
}

#ft_artist {
  color: #fff;
  font-weight: 600;
  font-size: 14px;
}

#ft_track {
  color: rgba(255,255,255,0.5);
  font-size: 13px;
}

.menu_favorites {
  list-style: none;
}

.menu_favorites li {
  display: inline-block;
}

.menu_favorites li a {
  color: rgba(255,255,255,0.5);
}

.menu_favorites .far {
  font-size: 16px;
  margin-left: 12px;
}

.ft_middle {
  width: 70%;
  margin: 0 auto;
  height: 90px;
  text-align: center;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top_player {
  max-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ft_pl_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ft_pl_buttons i {
  color: #fff;
  margin: 0 12px;
}

.fa-play-circle {
  font-size: 32px;
  margin: 0 14px;
}

.bottom_player {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 10px;
  font-weight: 600;
  color: #fff;
  margin: 10px 0;
}

.song_bar {
  width: 50%;
  margin: 0 20px;
  position: relative;
}

.sb_transp {
  border-width: 3px 0 0 0;
  border-style: solid;
  border-color: rgba(255,255,255,0.5);
  border-radius: 100px;
}

.sb_white {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 9%;
  border-width: 3px 0 0 0;
  border-style: solid;
  border-color: #fff;
  border-radius: 100px;
}

.ft_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ft_right .fas {
  font-size: 16px;
  margin-right: 12px;
  color: rgba(255,255,255,0.5);
}

#volume_bar {
  width: 170px;
  position: relative;
}

.vb_transp {
  border-width: 3px 0 0 0;
  border-style: solid;
  border-color: rgba(255,255,255,0.5);
  border-radius: 100px;
}

.vb_white {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 30%;
  border-width: 3px 0 0 0;
  border-style: solid;
  border-color: #fff;
  border-radius: 100px;
}

@media screen and (max-width: 767px) {

  .main_top {
    left: 50px;
    width: calc(100% - 50px);
    background: #191622;
  }

  #upgrade {
    display: none;
  }

  .main_nav,
  .top_nav,
  .bottom_nav {
    width: 50px;
  }

  .middle_nav {
    display: none;
  }

  .profile_screen {
    width: calc(100% - 50px);
    margin-left: 50px;
  }

  .ft_left,
  .ft_right {
    width: 150px;
  }

  .ft_middle {
    width: calc(100% - 300px);

  }

}
